<% provide(:title, "Home") %>

<% if flash[:emailed] %>


<div class="modal fade" id="basicModal" aria-labelledby="basicModal" aria-hidden="true">
  <div id="w">
    <div id="jumbocont">
	<div align="center">
      <!-- Icons source https://dribbble.com/shots/913555-Flat-Web-Elements -->
	  <% flash[:emailed] %>
        <h1>Success!</h1>
        	<div align="center"><img src="https://s22.postimg.org/i5iji9hv1/check.png" alt="checkmark" /></div>
        <p>Thank you for reaching out. We will get back to you as soon as possible. In the mean time, an automated email containing FAQ and information about our services has been delivered to your email. 
		Alternatively, you may reach us directly at 587-885-1664.
		InvestBlock
		</p>
      </div>
      </div>
	</div>
</div>
<% end %>
<section id="home">
  <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
		<span>
        <h1>Our Vision</h1>
		
		<h4>The CryptoCurrency Market is still young, unsaturated, and has high room for growth. The technological innovations coming from the fundamental Blockchain technology is revolutionary. 
			 InvestBlock's core belief is that the Digital Asset Market is the future. As so, we have demonstrated to have a comprehensive understanding of the market and continue to be ahead of the curve in the Digital Asset Market.
</h4>
		</span>
        </div>
		</div>
</section>

<section id="services" class="bounce-inInverse">
			            <h1 class="text-center">Services</h1>

        <div class="container-fluid">
        <div class="set_size_section1">
            <div class="article_center2">

				<%= link_to investing_path do %>

                <article class="section1_article">
					<%= link_to image_tag("BTC.svg", size: "78x77", alt: "BTC", id: "BTC"), :anchor => "InvestSplash" %> 
				<h1>Investing</h1>
				
                    <p>Our sophisticated team has had experience trading in the CryptoCurrency market since 2013. With specialists in Computer Sciences, Finances, Business, and Marketing, our team is capable and produce high capital results as demonstrated in our portfolio.</p>
                    </article>
				<% end %>
				
				
                <article class="section1_article">
					<%= link_to image_tag("Banking.svg", size: "95x77", alt: "Banking", id: "Banking"), :anchor => "fund" %> 
                    <h1>Investment Banking</h1>
                    <p>InvestBlock is capable of raising capital for ICO's and forecoming tech. Our rising hedgefund is unique and catered to the cryptocurrency market and is proficient at raising capital on ICOs and emerging blockchain technology we see potential in.</p>
                </article>
				
				
				
                <article class="section1_article">
					<%= link_to image_tag("Introduction.svg", size: "95x77", alt: "Introduction", id: "Introduction"), :anchor => "intro" %> 
                    <h1>Market Introduction</h1>
                    <p>An in-depth introduction into the market. Our market experts will provide extensive knowledge on cryptocurrency. Included is a written guide on portfolio building, ICO's, and strategies.</p>
                </article>
				
				
            </div>
        </div>
		</div>
    </section>
<div class="container-fluid">
<section id="crypto">
<div class="marquee">
<script type="text/javascript">
baseUrl = "https://widgets.cryptocompare.com/";
var scripts = document.getElementsByTagName("script");
var embedder = scripts[ scripts.length - 1 ];
var cccTheme = {"General":{"enableMarquee":true}};
(function (){
var appName = encodeURIComponent(window.location.hostname);
if(appName==""){appName="local";}
var s = document.createElement("script");
s.type = "text/javascript";
s.async = true;
var theUrl = baseUrl+'serve/v3/coin/header?fsyms=BTC,ETH,XMR,LTC,DASH&tsyms=CAD,USD';
s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
embedder.parentNode.appendChild(s);
})();
</script>
<p class="chartp">Bitcoin Price Index (24 Hr) Powered by CryptoCompare</p>

</div>

  <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
		<span>
        <h1>What is Bitcoin and Cryptocurrency?</h1>
		</span>
        </div>
        </div>


</section>
</div>

<div class="container-fluid">
    <section class="row  about-section">

            <div class="col-lg-12 about">

        <p>Cryptocurrency, Bitcoin, or other names you may have heard in the news are a decentralized Digital Asset or Digital Currency. They can be exchanged for goods and services, but are more widely traded or invested in. Though the mainstream Cryptocurrencies like Bitcoin and Ethereum tend to gain the most media attention,
		there are many hundreds of Cryptocurrencies or Digital Assets that exist today. InvestBlock has indespensible market knowledge and advanced strategies implemented to ensure market volatility and value fluctation is exploited rather than perceived as loss. </p>


      </div>
    </section>
</div>




<div class="container-fluid"><%= render :file => '/messages/new' %>
</div>